.loader {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

.text {
  letter-spacing: 0.5rem;
  line-height: 1.25;
  text-transform: uppercase;
}
