.ctaImage {
  min-height: 50vh;

  @media only screen and (min-width: 1024px) {
    min-height: 75vh;
  }
}

.ctaCard {
  @media only screen and (min-width: 1280px) {
    position: absolute;
    top: 75%;
    left: -140px;
    transform: translateY(-75%);
    width: 100%;
  }
}
