.hero {
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  min-height: 95vh;

  @media only screen and (min-width: 768px) {
    min-height: 85vh;
  }

  @media only screen and (min-width: 1024px) {
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

.bgImage {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  margin: 2rem auto;
  text-shadow: 0 0 0 #000;
}

.heading {
  color: var(--color-primary);
  line-height: 1.25;
  text-transform: uppercase;
}

.subheading {
  max-width: 800px;
  margin-top: 0.5rem;
  line-height: 1.5;
}
