:root {
  // gray colors
  --color-gray-100: #e7ece5;
  --color-gray-200: #c7c7bd;
  --color-gray-300: #b8b8b1;
  --color-gray-400: #999991;
  --color-gray-500: #7d7d78;
  --color-gray-600: #5a5a56;
  --color-gray-700: #474743;
  --color-gray-800: #2b2b27;
  --color-gray-900: #131312;
  // orange colors
  --color-orange-500: #f99b42;
  // primary colors
  --color-primary: var(--color-orange-500);
  // secondary colors
  --color-secondary: #050a08;
}
