.layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.header {
  z-index: 30;
}

.main {
  flex: 1 1;
  z-index: 20;
}

.footer {
  background-color: var(--color-gray-100);
  z-index: 10;
}
